@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex flex-col;
}

/* div {
  display: flex;
  flex-direction: column;
  flex: 1;
} */

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}

.animate-shake {
  animation: shake 0.15s ease-in-out infinite;
}
